NCAAFRepository.Service/Service References/ServiceReference1/NCAAFLatestRankings2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61766/NCAAFLatestRankings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColleges">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollegesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" minOccurs="0" name="GetCollegesResult" nillable="true" type="q1:ArrayOfCollegeTeams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollege">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollegeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" minOccurs="0" name="GetCollegeResult" nillable="true" type="q2:CollegeTeams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCollege">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" minOccurs="0" name="newCollege" nillable="true" type="q3:CollegeTeams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCollegeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollege">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="planetName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" minOccurs="0" name="updatedCollege" nillable="true" type="q4:CollegeTeams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollegeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCollege">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCollegeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColleges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NCAAFRankingViewer.SharedObjects" minOccurs="0" name="updatedColleges" nillable="true" type="q5:ArrayOfCollegeTeams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCollegesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>